@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Pirata+One&display=swap");

:root {
  --color-red: #651910;
  --color-beige: #887e69;
  --color-dark-beige: #554f43;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.text-red {
  color: var(--color-red);
}

.text-beige {
  color: var(--color-beige);
}

.hover\:text-dark-beige:hover {
  color: var(--color-dark-beige);
}

.pirata-one {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cormorant {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-style: normal;
}

.gallery-image {
  transition: all 500ms ease-in-out;
  cursor: pointer;
  filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15));
}

.gallery-image:hover {
  transform: scale(1.1);
}
